/* Centrado vertical y espaciado entre campos */
.card-container {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 16px; /* Espaciado entre ion-input y textarea */
	padding: 16px; /* Margen interior del contenedor */
}

.card{
	width: 100%;
	max-width: 640px; /* Limita el ancho para mejor lectura */
}

.logout-button {
	width: 100%;
	max-width: 640px;
	margin-top: 20px;
}
